{% extends 'base.html.twig' %}

{% block title %}Mon compte - Garage V.PARROT
{% endblock %}

{% block content %}
	<div class="container account mt-5 mb-5">
		<h1>Mon compte</h1>
		<p>Bienvenue
			{{ app.user.firstname }}
			! Vous pouvez administrer le site depuis cet espace.</p>
		<hr>
		{% if is_granted('ROLE_ADMIN') %}
			<h2 class="text-center">Vous êtes l'administrateur de ce site
			</h2><br/>
		{% endif %}
		<div class="row account-item-row mb-5">
			<div class="col-md-4">
				<a href="{{ path('account_password') }}" class="account-item text-center btn-relief">
					<img src="{{ asset('build/images/cadenas.png') }}" alt="Modifier mon mot de passe"><br/>
					<span>Modifier mon mot de passe</span>
				</a>
			</div>
			{% if is_granted('ROLE_ADMIN') %}
				<div class="col-md-4">
					<a href="{{ path('admin') }}" class="account-item text-center btn-relief">
						<img src="{{ asset('build/images/navigateur.png') }}" alt="Gérer votre site"><br/>
						<span>Gérer votre site</span>
					</a>
				</div>
			{% elseif is_granted('ROLE_USER') %}
				<div class="col-md-4">
					<a href="{{ path('admin') }}" class="account-item text-center btn-relief">
						<img src="{{ asset('build/images/voiture.png') }}" alt="Gérer les voitures"><br/>
						<span>Gérer les voitures</span>
					</a>
				</div>
			{% endif %}
			<div class="col-md-4">
				<a href="{{ path('admin') }}" class="account-item text-center btn-relief">
					<img src="{{ asset('build/images/user-interface.png') }}" alt="Gérer les avis clients"><br/>
					<span>Gérer les avis</span>
				</a>
				{# Affichez la notification si le nombre d'avis non approuvés est supérieur à zéro #}
				{% if feedbackCount > 0 %}
					<div class="notification d-flex justify-content-center mt-3 ms-2">
						<span class="badge text-bg-warning">
							avis en attente de validation.
							<span class="badge text-bg-secondary">{{ feedbackCount }}</span>
						</span>
					</div>
				{% endif %}
			</div>
		</div>

	</div>
{% endblock %}
