<h1>Nouvelle proposition d'achat</h1>

<p>
    E-mail : {{ proposal.email }}<br>
    Prix proposé : {{ proposal.proposedPrice }} €<br>
    Commentaire : {{ proposal.comment }}<br>
    Voiture : {{ proposal.car.name }}<br>
    Identifiant: {{ proposal.car.id}}
</p>
