<!doctype html>
<html lang="fr">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
		<meta name="generator" content="Hugo 0.112.5">

		<title></title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="{{asset('assets/css/bootstrap.min.css')}}">
		<link rel="stylesheet" href="{{asset('assets/css/nouislider.css')}}">
		<link rel="stylesheet" href="{{asset('assets/css/style.css')}}">
	</head>

	<body>
		<header class="p-3 text-bg-dark">
			<div class="container">
				<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
					<a href="{{ path('home')}}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
						Garage V.PARROT
					</a>

					<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
						<li>
							<a href="{{ path('home') }}#services" class="nav-link px-2 text-white">Services</a>
						</li>
						<li>
							<a href="{{ path('occasion') }}" class="nav-link px-2 text-white">Occasions</a>
						</li>
						<li>
							<a href="{{ path('team') }}" class="nav-link px-2 text-white">L'Équipe</a>
						</li>
						<li>
							<a href="{{ path('contact') }}" class="nav-link px-2 text-white">Contact</a>
						</li>
					</ul>

					<div class="text-end navbar-item-custom">
						{% if app.user %}
							<a href="{{ path('account')}}">Mon compte
								<small>({{app.user.firstname}})</small>
							</a>
							|
							<a href="{{ path('app_logout')}}">Déconnexion</a>
						{% else %}
							<a href="{{ path('app_login')}}" class="btn btn-danger">Connexion</a>

						{% endif %}
					</div>
				</div>
			</div>
		</header>

		{% block content %}
			<main>

				<!-- SECTION ACCUEIL !-->
				<section class="container-fluid" id="home">
					<div class="py-5 text-center container accueil">
						<div class="row py-lg-5">
							<div class="col-lg-6 col-md-8 mx-auto">
								<h1 class="fw-light">Garage V.PARROT</h1>
								<p class="lead text-body-secondary">
									Un garage à l'écoute, compétent et disponible depuis <span id="yearsActive"></span> ans !<br/> !<br/>
									<a href="{{ path('occasion') }}" class="btn  btn-danger my-2">Nos occasions</a>
									<a href="#contact" class="btn btn-primary my-2">Nous contacter</a>
								</p>
							</div>
						</div>
					</div>
				</section>

				<!-- SECTION SERVICES !-->
				<section id="services" class="mt-5">
					<div class="container d-flex flex-wrap mb-5">
						<div class="row w-100">
							<h2 class="text-center mb-5">Nos Services</h2>
						</div>
						<div class="row d-flex justify-content-center">
							{% for service in services %}
								{% include 'service/single_service.html.twig' %}
							{% endfor %}
						</div>
						<div class="row w-100">
							<div class="col-md-12 d-flex justify-content-center mt-5">
								<a href="#" class="btn btn-danger rdv-btn">Prendre rendez-vous</a>
							</div>
						</div>
					</div>
				</section>


				<div class="container-fluid bg-light my-5">
					<div
						class="row img-center-text">
						<!-- Colonne Image -->
						<div class="col-lg-6 col-md-6 col-sm-12 p-0">
							<img src="{{ asset('assets/img/garage.jpg') }}" alt="" class="img-fluid w-100"/>
						</div>

						<!-- Colonne Texte et Liste -->
						<div class="col-lg-6 col-md-6 col-sm-12 py-5 px-5 centered-content">
							<h2 class="my-4">VÉHICULES TOUTES MARQUES</h2>
							<p class="description">Nous fournissons un service d'entretien de premier ordre pour tous les types de véhicules.</p>
							<div class="row mt-4 liste">
								<div class="col-lg-4 col-md-4 col-sm-12 d-flex justify-content-center">
									<ul class="list-unstyled">
										<li><img src="{{ asset('assets/img/verifier.png') }}">Renault</li>
										<li><img src="{{ asset('assets/img/verifier.png') }}">Peugeot</li>
										<li><img src="{{ asset('assets/img/verifier.png') }}">Citroen</li>
										<li><img src="{{ asset('assets/img/verifier.png') }}">Vokswagen</li>
										<li><img src="{{ asset('assets/img/verifier.png') }}">Dacia</li>
									</ul>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-12 d-flex justify-content-center">
									<ul class="list-unstyled">
										<li><img src="{{ asset('assets/img/verifier.png') }}" class="mr-3">Toyota</li>
										<li><img src="{{ asset('assets/img/verifier.png') }}">Ford</li>
										<li><img src="{{ asset('assets/img/verifier.png') }}">Opel</li>
										<li><img src="{{ asset('assets/img/verifier.png') }}">Nissan</li>
										<li><img src="{{ asset('assets/img/verifier.png') }}">Fiat</li>
									</ul>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-12 d-flex justify-content-center">
									<ul class="list-unstyled">
										<li><img src="{{ asset('assets/img/verifier.png') }}">Mercedes</li>
										<li><img src="{{ asset('assets/img/verifier.png') }}">Audi</li>
										<li><img src="{{ asset('assets/img/verifier.png') }}">BMW</li>
										<li><img src="{{ asset('assets/img/verifier.png') }}">Kia</li>
										<li><img src="{{ asset('assets/img/verifier.png') }}">Hyundai</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- SECTION CONTACT !-->
				<section class="container" id="contact">
					<div class="row">
						<div class="col-12">
							<h2 class="text-center">CONTACT</h2>
						</div>
					</div>
					<div class="row contact-form d-flex justify-content-center">
						<div class="col-sm-12 col-md-6 "></div>
					</section>

				</main>
			{% endblock %}

			<footer class="footer-custom">
				<div class="container">
					<p>&copy; 2023 Garage V.PARROT. Tous droits réservés.</p>
					<p>
						<a href="#">Politique de confidentialité</a>
						|
						<a href="#">Mentions légales</a>
					</p>
				</div>
				<div class="container">
					<div class="row mb-4">
						<div class="col-md-12">
							<h4>Horaires d'ouverture</h4>
							<ul class="list-unstyled">
								{% for hour in openingHours %}
									<li>
										{{ hour.day }}
										:
										{% if hour.isClosed %}
											Fermé
										{% else %}
											{{ hour.morningOpeningTime|date('H:i') }}
											-
											{{ hour.morningClosingTime|date('H:i') }}
											/
											{{ hour.afternoonOpeningTime|date('H:i') }}
											-
											{{ hour.afternoonClosingTime|date('H:i') }}
										{% endif %}
									</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</footer>


				<script src="{{asset('assets/js/bootstrap.bundle.js')}}"></script>
				<script src="{{asset('assets/js/jquery.min.js')}}"></script>
				<script src="{{asset('assets/js/nouislider.min.js')}}"></script>
				<script src="{{asset('assets/js/script.js')}}"></script>
			</body>
		</body>
	</body>
</html>
