<!doctype html>
<html lang="fr">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
		<meta name="generator" content="Hugo 0.112.5">

		<title></title>

		<link rel="stylesheet" href="{{asset('assets/css/bootstrap.min.css')}}">
		<link rel="stylesheet" href="{{asset('assets/css/nouislider.css')}}">
		<link rel="stylesheet" href="{{asset('assets/css/style.css')}}">
	</head>

	<body>
		<header class="p-3 text-bg-dark">
			<div class="container">
				<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
					<a href="{{ path('home')}}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
						Garage V.PARROT
					</a>

					<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
						<li>
							<a href="{{ path('home') }}#services" class="nav-link px-2 text-white">Services</a>
						</li>
						<li>
							<a href="{{ path('occasion') }}" class="nav-link px-2 text-white">Occasions</a>
						</li>
						<li>
							<a href="#" class="nav-link px-2 text-white">Qui sommes nous ?</a>
						</li>
						<li>
							<a href="#" class="nav-link px-2 text-white">Contact</a>
						</li>
					</ul>

					<div class="text-end navbar-item-custom">
						{% if app.user %}
							<a href="{{ path('account')}}">Mon compte
								<small>({{app.user.firstname}})</small>
							</a>
							|
							<a href="{{ path('app_logout')}}">Déconnexion</a>
						{% else %}
							<a href="{{ path('app_login')}}" class="btn btn-danger">Connexion</a>

						{% endif %}
					</div>
				</div>
			</div>
		</header>

		{% block content %}
			<main>


				<!-- SECTION ACCUEIL !-->
				<section class="py-5 text-center container" id="home">
					<div class="row py-lg-5">
						<div class="col-lg-6 col-md-8 mx-auto">
							<h1 class="fw-light">Garage V.PARROT</h1>
							<p class="lead text-body-secondary">
								Un garage à l'écoute, compétent et disponible !<br/>
								<a href="{{ path('occasion') }}" class="btn btn-primary my-2">Nos occasions</a>
								<a href="#contact" class="btn btn-secondary my-2">Nous contacter</a>
							</p>
						</div>
					</div>
				</section>

				<!-- SECTION SERVICES !-->
				<section id="services">
					<div class="container d-flex flex-wrap mb-5">
						<div class="row w-100">
							<h2 class="text-center mb-5">Nos Services</h2>
						</div>
						<div class="row d-flex justify-content-center">
							{% for service in services %}
								{% include 'service/single_service.html.twig' %}
							{% endfor %}
						</div>
					</div>
				</section>
				
				<!-- SECTION QUI SOMMES NOUS !-->
				<section class="container marketing mb-lg-5" id="about">
					<div class="row">
						<h2 class="text-center mb-lg-5 mt-lg-5">Qui sommes nous ?</h2>
						<?php foreach ($usersData as $user) : ?>
						<div class="col-lg-4 img-container">
							<svg class="bd-placeholder-img rounded-circle" width="200" height="200" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveaspectratio="xMidYMid slice" focusable="false">
								<image href="../<?php echo $user->image_path; ?>" width="200" height="200" preserveaspectratio="xMidYMid slice"/>
							</svg>
							<h2 class="fw-normal text-center">Employé</h2>
							<h5 class="fw-normal text-center">Métier</h5>
						</div>
						<?php endforeach ?>
					</div>
				</section>

				<!-- SECTION CONTACT !-->
				<section class="container" id="contact">
					<div class="row">
						<div class="col-12">
							<h2 class="text-center">CONTACT</h2>
						</div>
					</div>
					<div class="row contact-form d-flex justify-content-center">
						<div class="col-sm-12 col-md-6 ">
							contact form
						</div>
						<div class="col-md-4">
							<h2>Horaire d'ouvertures</h2>
						</div>
					</div>
				</section>

			</main>
		{% endblock %}

		<footer class="text-body-secondary py-5"></footer>

		<script src="{{asset('assets/js/bootstrap.bundle.js')}}"></script>
		<script src="{{asset('assets/js/jquery.min.js')}}"></script>
		<script src="{{asset('assets/js/nouislider.min.js')}}"></script>
		<script src="{{asset('assets/js/script.js')}}"></script>
	</body>
</html>
